<div class="list-group">  
  <% @posts.each do |post| %>
    <%= link_to post , style:"color:#797a7b" do %>
      <div class="card mb-3" >
        <div class="row no-gutters">
          <div class="col-md-2">
            <%= image_tag(post.image.attached? ?  post.image : 'account-add-photo.svg' , style:"height: 100%" , class: "card-img") %>
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title"><%= post.title%></h5>
              <br>
              <p class="card-text"><small class="text-muted">Publicado hace <%= time_ago_in_words(post.created_at) %></small></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>