<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"> Noticias Internas</a>
  <div class="collapse navbar-collapse" id="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"></li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown" align="right">        
          Hola! <%= current_user.name %>,
          <%= link_to signout_path do %>
            <i class="icon-arrow-right"></i>Salir
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>